<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emergent Time Tracker</title>
  <link rel="stylesheet" type="text/css" href="styles/inlinable.css">
</head>

<body>
  <header class="header">
    <h1 class="header__title">Emergent Task Timer</h1>
    <span class="date"></span>
    <button id="butRefresh" class="headerButton"></button>

  </header>

  <main class="main">
    <task-table purpose="Major Tasks" id="taskGroupMajorTasks"></task-table>
    <task-table purpose="'Just Happened'" id="taskGroupStuffHappened"></task-table>

    <div v-show="isLoading" class="loader">
      <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
  <script src="scripts/app.js" async></script>
  <script type="text/x-template" id="task-table-template">
     <!-- see: https://vuejsdevelopers.com/2017/03/24/vue-js-component-templates/ -->
    <div class='taskTable'>
      <table class="taskTable">
        <thead>
          <tr>
            <th class="taskInfo">{{purpose}}</th>
            <th class="hoursHeader" v-for="hour in hours">
              {{ hour.military }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in tasks">
            <td class="taskInfo">
              {{ task.index }}
              <input class="taskName" type="text" v-model="task.name" />
            </td>
            <td v-for="hour in hours" class="timeBubbles">
              <input v-for="segment in hour.segments" class="timeBubble" type="radio">
            </td>
          </tr>
        </tbody>
      </table>
      <button v-on:click="addTask">+</button>
    </div>
  </script>
</body>

</html>